body {
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

#headerContainer {
    height: 100vh;
    width: 100vw;
    position: relative;

    background-image: url("images/landscape.jpg");
    background-size: cover;
    background-position: center;
}

#moreContentButton {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto; 
    height: 90px;
    width: 90px;

    background-image: url("images/DownIconWhite.png");
    background-size: cover;
    background-position: center;
}

.center {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.centerChildren {
    text-align: center;
}

#nameContainer {
    width: 100%;
    height: 100%;

    background: -webkit-radial-gradient(rgba(105, 105, 100, 0.04), rgba(0, 0, 0, 0.50));
    background:      -o-radial-gradient(rgba(105, 105, 100, 0.04), rgba(0, 0, 0, 0.50));
    background:    -moz-radial-gradient(rgba(105, 105, 100, 0.04), rgba(0, 0, 0, 0.50));
    background:         radial-gradient(rgba(105, 105, 100, 0.04), rgba(0, 0, 0, 0.50));
}

#nameContainer>div {
    display:table-cell;
    vertical-align: middle;
    width:100vw;
    height:100vh;
}

#nameContainer>div>h2,
#nameContainer>div>h4 {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;

    font-family:"Arial";
    color: white;
    /* text-shadow: 5px 5px black; */
}

h5 {
    text-align: center;
    margin-top: 20px !important;
}

h2 {
    font-size: 10vh !important;
}

h4 {
    font-size: 5vh !important;
}

.clickable {
    cursor: pointer;
}

#estherPicture {
    background-image: url(images/esther.jpg);
}

.roundPicture
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 170px;
    height: 170px;
    border-radius: 50%;
    
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.roundPictureBorder
{
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
}

@media all and (max-width: 576px) {    
    #moreContentButton {
        width: 20vw;
        height: 20vw;
    }
}