body {
    margin: 0;
    overflow-x: hidden;
}

body,
i>span {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

i>span {
    margin-left: 4px;
}

img {
    max-width: 100%;
}

#headerContainer {
    height: 100vh;
    width: 100vw;

    background-image: url("images/landscape.jpg");
    background-size: cover;
    background-position: center;
}

#moreContentButton {
    bottom: 40px;
    height: 90px;
    width: 90px;

    background-image: url("images/DownIconWhite.png");
    background-size: cover;
    background-position: center;
}

.centerContainer {
    position: relative;
    min-height: 20px;
}

.centerContainer>div,
.center {
    position: absolute !important;
    margin: auto !important;
    left: 0 !important; 
    right: 0 !important;
}

.centerChildren {
    text-align: center;
}

#nameContainer {
    width: 100%;
    height: 100%;

    background: -webkit-radial-gradient(rgba(105, 105, 100, 0.04), rgba(0, 0, 0, 0.50));
    background:      -o-radial-gradient(rgba(105, 105, 100, 0.04), rgba(0, 0, 0, 0.50));
    background:    -moz-radial-gradient(rgba(105, 105, 100, 0.04), rgba(0, 0, 0, 0.50));
    background:         radial-gradient(rgba(105, 105, 100, 0.04), rgba(0, 0, 0, 0.50));
}

#nameContainer>div {
    display:table-cell;
    vertical-align: middle;
    width:100vw;
    height:100vh;
}

#nameContainer>div>h2,
#nameContainer>div>h4 {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;

    font-family:"Arial";
    color: white;
}

h5 {
    text-align: center;
    margin-top: 20px !important;
    font-size: 2.25rem !important;
}

h2 {
    font-size: 10vh !important;
}

h4 {
    font-size: 5vh !important;
}

.clickable {
    cursor: pointer;
}

#estherPicture {
    background-image: url(images/esther.jpg);
}

.roundPicture
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 170px;
    height: 170px;
    border-radius: 50%;
    
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.roundPictureBorder
{
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
}

#phone {
    width: 145px;
}

#email {
    width: 231px;
    
}

.contactButtons {
    width: 109px;
}

.contactButtons>a {
    margin: 4px 2px;
}

.contactButtons>a>img {
    width: 50px;
    height: 50px;
}

@media all and (max-width: 576px) {    
    #moreContentButton {
        width: 20vw;
        height: 20vw;
    }
}